:root {
  --blue: #1e90ff;
  --black: rgba(6, 8, 6, 0.89);
}

//forms pages
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;

  .signForm {
    display: flex;
    flex-direction: column;
    padding: 15px 30px 25px 30px;
    border: solid 2px var(--blue);
    border-radius: 5px;

    .titles {
      display: flex;
      align-self: center;
      color: var(--black);
      font-weight: bold;
      font-size: 25px;
      margin: 0;
    }

    .labels {
      color: var(--blue);
      font-size: 14px;
      font-weight: bold;
    }

    .inputs {
      width: 280px;
      height: 35px;
      border-radius: 5px;
      border-color: var(--blue);
    }

    .signUpInfoContainer {
      margin-top: 10px;

      .signUpInfo {
        font-size: 18px;
        color: var(--black);
      }

      a {
        font-size: 18px;
        margin-left: 3px;
        color: var(--blue);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

//account

.profileContainer {
  display: flex;

  .profileData {
    width: max-content;
    height: 100%;
    background-color: #797979;
    margin-top: 30px;
    .profileText{
      color: white;
      font-size: 18px;
      margin-left: 5px;
    }
  }
  .eventsTabsContainer{
    margin-left: 30px;
  }
}

.previewImages {
  display: flex;

  .imageContainer {
    position: relative;

    .imagePreview {
      width: 120px;
      margin: 5px;
    }

    .deleteImageButton {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
      color: #ff5728;
      transition: 0.5s;
      background-color: #000;

      &:hover {
        background-color: #fff;
        transition: 0.5s;
      }
    }
  }
}

.errors {
  color: #ff5757;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  background-color: var(--blue);
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  border: solid 2px var(--blue);

  &:focus {
    outline: none;
  }

  &:hover {
    transition: 0.5s;
    background-color: white;
    color: var(--blue);
    border: solid 2px var(--blue);
  }
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  padding: 12px 26px;
  background-color: #cccccc;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}